h1, table, form {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 250%;
}

table {
    background: #211;
    padding: 1em;
}

th, td {
    border: 0;
    color: gray;
    text-align: center;
}

.sq {
    background: darkgreen;
}
