<h1 xmlns="http://www.w3.org/1999/html">
	{{title}}
</h1>
<table>
	<tbody>
	<tr>
		<td>
		</td>
		<td class="edge" *ngFor="let x of ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']">
			{{ x }}
		</td>
		<td>
		</td>
	</tr>
	<tr *ngFor="let y of [0, 1, 2, 3, 4, 5, 6, 7]">
		<td>
			{{ y+1 }}
		</td>
		<td class="sq" *ngFor="let x of [0, 1, 2, 3, 4, 5, 6, 7]">
			<app-sq x="{{x}}" y="{{y}}"></app-sq>
		</td>
		<td>
			{{ y+1 }}
		</td>
	</tr>
	<tr>
		<td>
		</td>
		<td class="edge" *ngFor="let x of ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']">
			{{ x }}
		</td>
		<td>
		</td>
	</tr>
	</tbody>
</table>
<form name="userInputForm">
	<input type="radio" [(ngModel)]="playerColour" name="playerColour" value="b">Black
	<input type="radio" [(ngModel)]="playerColour" name="playerColour" value="w">White
</form>
