table.board {
    background-image: url('../assets/Reversi-Board-only.svg');
    background-repeat: no-repeat;
    background-size: 553px;
    padding: 0;
    border: 0;
    margin: 0;
}
table.board tr {
    margin: 0;
    padding: 0;
    border: 0;
}
table.board td {
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
}
table.board td.edge {
    width: 10px;
    height: 10px;
    margin: 0;
    padding: 0;
    border: 0;
}
