.brd th, .brd td {
    border: 0;
    text-align: center;
}

.sq {
    background: #373;
}

table.board {
    background-image: url('../assets/Reversi-Board-only.svg');
    background-size: 554px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border: 0;
    margin-left: auto;
    margin-right: auto;
}
table.board tr {
    margin: 0;
    padding: 0;
    border: 0;
}
table.board td {
    background: transparent;
    margin: 0;
    padding: 0px;
    border: 0;
}
table.board td.edge {
    width: 11px;
    height: 11px;
    margin: 0;
    padding: 0;
    border: 0;
}
