div.sq {
    width: 56px;
    height: 56px;
    background-size: 56px;
    background-repeat: no-repeat;
    margin: 4px;
    transition: background 2s;
}

.sq.b {
    background-image: url('../assets/Reversi-Piece-Black.svg');
    transition: background 2s;
}

.sq.bx {
}

.sq.w {
    transition: background 2s;
    background-image: url('../assets/Reversi-Piece-White.svg');
}

.sq.wx {
}
