div.sq {
    width: 56px;
    height: 56px;
    background-size: 56px;
    background-repeat: no-repeat;
    transition: background 2s;
    margin: 4px;
}

.sq.b {
    background-image: url('../assets/Reversi-Piece-Black.svg');
    transition: background 2s;
}

.sq.bx {
    transition: opacity 2s;
    opacity: .7;
}

.sq.w {
    transition: background 2s;
    background-image: url('../assets/Reversi-Piece-White.svg');
}

.sq.wx {
    transition: opacity 2s;
    opacity: .7;
}
