.edge {
    text-align: center;
    color: darkorange;
}

div.sq {
    margin: .4em;
    padding: 1.4em;
    border-radius: 2.2em;
    line-height: 2em;
}

.sq.b {
    border: 0;
    background: black;
    transition: background 2s;
}

.sq.k {
    border: 0;
    background: darkblue;
    transition: background 2s;
    opacity: .4;
}

.sq.w {
    border: 0;
    background: white;
    color: white;
    transition: background 2s;
}
